<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>job portals </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
 
  </head>
  <body>
 




<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a href="" class="navbar-brand">NuelJobPortals</a>
      <button class="navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggle-icon"></span>
      </button>


      <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Guidlines</a>
                </li>
          
                {% if request.user.is_authenticated %}

                {% if request.user.is_applicant %}

                {% if request.user.is_resume %}
                <li class="nav-item"><a class="nav-link" href="{% url 'products:home' %}">Apply to jobs</a></li>

                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'job:applied-jobs' %}">
                    Manage Job Application </a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'resume:resume_update' %}">Create Resume</a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account:logout' %}">Logout</a>
                </li>
                
                {% elif request.user.is_recruiter %}
      
                {% if request.user.is_company %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'job:create-job' %}">Post Job Ads</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href=" {% url 'employers:update_company' %}"> Create Company</a>
                </li>
                {% endif %}
               
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'products:company_jobs' %}">Jobs posted</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account:logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="1" aria-disabled="true">{{ request.user.email }}</a>
                </li>
              </ul>

          
              {% endif %}
              {% else %}

              <a href="{% url 'account:login' %}" class="btn btn-danger me-2">Login</a>
             
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Register
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'account:artisan_register' %}" class="btn btn-primary me-2">Applicant</a></li>
                  <li><a class="btn btn-dark me-2" href="{% url 'account:employer_register' %}">Employer</a></li>
                
                </ul>
              </li>
              {% endif %}
           
            </div>
          </div>
        </nav>
  </div>
</nav>



<div class="container col-xl-10 col-xxl-8 px-4 py-5">
   
  <div class="row align-items-center g-lg-5 py-5">
      <div class="cel-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3">welcome to Nuel job portal</h1>
          <p class="col-lg-10 fs-4">Find the job you need within your neighborhood </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">

        {% if messages %}
        {% for mesg in messages %}
        <div class="alert alert-{{ mesg.tags }}" role="alert">
         <b> {{ mesg }}</b>
        </div>
        {% endfor %}
        {% endif %}
     
        
      </div>
  </div>
</div>

{% block content %}
{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>