{% extends 'layouts/base.html' %}
{% load widget_tweaks %}

{% block content %}


<style>
    a{
        text-decoration: none;
    }
    .row{
        margin-bottom: 100px;
    }
</style>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for job in available_jobs %}
    <div class="col">
        <a href="{% url 'products:job-details' job.pk %}">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ job.title }}</h5>
                    <p class="card-text">Industry: {{ job.industry }}</p>
                    <p class="card-text">Job Type: {{ job.job_type }}</p>
                    <p class="card-text">Location: {{ job.city }}, {{ job.state }}</p>
                    <p class="card-text">Salary: {{ job.salary }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ job.date_created }}</small>
                <!--|naturaltime-->
            </div>
        </div>
        </a>
    </div>
    {% endfor %}
</div>




<div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Card Title </h5>
                    <p class="card-text">This is a wilder card with supporting text below as a natural lead-in to additional content</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last Updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Card Title </h5>
                <p class="card-text">This is a wilder card with supporting text below as a natural lead-in to additional content</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last Updated 3 mins ago</small>
        </div>
    </div>
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Card Title </h5>
                <p class="card-text">This is a wilder card with supporting text below as a natural lead-in to additional content</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last Updated 3 mins ago</small>
        </div>
    </div>
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Card Title </h5>
                <p class="card-text">This is a wilder card with supporting text below as a natural lead-in to additional content</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last Updated 3 mins ago</small>
        </div>
    </div>
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Card Title </h5>
                <p class="card-text">This is a wilder card with supporting text below as a natural lead-in to additional content</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last Updated 3 mins ago</small>
        </div>
    </div>
</div>
</div>
<!--<div class="row align-items-center">
    <div class="col-md-20 mx-auto col-lg-2 mt-4">
        <nav aria-label="">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a href="" class="page-link" tabindex="1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item active" aria-current="page"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </nav>
    </div>
</div>-->






{% endblock %}