{% extends 'layouts/base.html' %}
{% load widget_tweaks %}
{% load humanize %}

{% block content %}
<div class="card mx-auto" style="width: 76rem;">
    <div class="card-body">
        <h5 class="card-title mb-3">All Applicants for {{ job.title }}positions</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>
                       Surname
                    </th>
                    <th>
                        Salary
                    </th>
                    <th>
                       Location
                    </th>
                    <th>
                        Job Position
                    </th>
                    <th>Application Date</th>
                    <th>
                       Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for apply in applicants %}
                <tr>
                    <td>{{ apply.user.resume.firest_name }}</td>
                    <td>{{ apply.user.resume.surname }}</td>
                    <td>{{ apply.user.resume.location }}</td>
                    <td>{{ apply.user.resume.job_title }}</td>
                    <td>{{ apply.user.resume.timestamp }}</td>
                    <td><a target="_blank" href="{{ apply.user.resume.upload_resume.url }}"><small>Download Resume</small></a></td>
                   
                
                  
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}